* {
    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.base-bg {
    /* background-position: center;*/
    /* background-repeat: no-repeat;*/
    /* background-size: cover;*/
    background-color: #a3cfbb;
}
